#loading {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}